name: drowsy_guard
description: AI-Powered Drowsiness Detection System

publish_to: 'none'
version: 1.0.0+1
 
environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  camera: ^0.10.5+5
  http: ^1.1.0
  audioplayers: ^5.2.1
  shared_preferences: ^2.2.2  # Added for persistent login storage
  cupertino_icons: ^1.0.2
  flutter_dotenv: ^6.0.0
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  
  assets:
    - assets/sounds/
    - .env